* {
  font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
  background: #9aa2af;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}

#navbar {
  padding: 2em;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background: #10101029;
  box-shadow: 0 2px 4px 0 rgb(50, 50, 50, .9);
  border-radius: 8px;
}

#navbar a {
  position: space-evenly;
  display: inline-block;
  padding: 0 90px;
  color: #fff;
  text-decoration: none;
  font: 1em f;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#navbar a:hover,
#footer-container a:hover {
  color: black;
  animation: bounce 2s ease infinite;
}


#footer-container {
  padding: 1em;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  background: #10101029;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(50, 50, 50, .9);

}
#footer-container a {
  position: space-evenly;
  display: inline-block;
  padding: 0 90px;
  color: #fff;
  text-decoration: none;
  font: 1em f;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
.red {
  background-color: #a91730;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}
.home {
  background-color: #494a4c;
  color: rgb(255, 255, 255);
}

.green {
  background-color: #108217;
  color: white;
}
.purple {
  background-color: #6017a9;
  color: white;
}
.yellow {
  background-color: #b3be1c;
  color: white;
}
